<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<title>Elimina Contatto</title>
</head>
<body>
	<div class="container">
		<div class="pb-2 mt-4 mb-2">
			<h1>
				Elimina contatto <small>Modifica record</small>
			</h1>
		</div>
		<hr>
		<div class="col-md-5" style="margin-top: 30px; margin-bottom: 30px">
			<form method="post" th:action="@{/conferma}" th:object="${contatto}">
				<input type="hidden" th:field="*{id}">

				<div class="form-group">
					<label for="nome">Nome</label> <input type="text"
						th:field="*{nome}" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label for="cognome">Cognome</label> <input type="text"
						th:field="*{cognome}" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label for="nome">Username</label> <input type="text"
						th:field="*{username}" class="form-control" readonly>
				</div>
				<button style="margin-top: 30px;" type="submit"
					class="btn btn-success">Elimina contatto</button>
			</form>
		</div>
	</div>
</body>
</html>